.homepage {
    color: #d4d4d4;
    padding: 0 10rem;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.heroHeader {
    padding-bottom: 5rem;
}

.heroHeader > h1{
    font-size: 4rem;
    text-align: center;
    color: #f1fffa;
    letter-spacing: 0.20rem;
    padding-bottom: 1rem;
}

.heroHeader > h2 {
    font-size: 3rem;
    color: #c69c72;
    letter-spacing: 0.13rem;
    text-align: center;
}

.heroText > p {
    font-size: 2rem;
    text-align: center;
    line-height: 2.35rem;
    letter-spacing: 0.03rem;
    padding: 0 15rem;
}

.heroNav {
    padding: 5rem 0;
}

.linkButton {
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 2px solid #d4d4d4;
    font-size: 1.25rem;
    font-weight: 550;
}

.linkButton,
.linkButton:visited,
.linkButton:link {
    color: inherit;
    text-decoration: none;
}


.linkButton:hover {
    transition: 0.5s ease-in-out;
    border-radius: 1rem;
    border: 2px solid #c69c72;
    color: #c69c72;
}


.linkButton > img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem;
}

.mainDivision {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 2rem;
    align-items: center;
    padding-bottom: 15rem;
}

.subDivisionOne {
    color: #c69c72;
    font-size: 2.5rem;
    width: 30%;
}

.subDivisionTwo {
    font-size: 2rem;
    text-align: justify;
    width: 70%;
}

.structureHeader {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.passwordForm {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.passwordInput {
    transition: 0.5s ease-in-out;
    padding: 1.2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #c69c72;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    width: 25rem;
}

.passwordInput:hover {
    transition: 0.5s ease-in-out;
    background-color: rgba(16, 16, 16, 0.7);
}

.passwordInput:focus {
    transition: 0.5s ease-in-out;
    background-color: rgba(27, 27, 27, 0.7);
}

.passwordButton {
    transition: 0.5s ease-in-out;
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: transparent;
    color: #d4d4d4;
    border: 2px solid #d4d4d4;
    cursor: pointer;
}

.passwordButton:hover {
    transition: 0.5s ease-in-out;
    color: #c69c72;
    border: 2px solid #c69c72;;
}


.successMessage {
    text-align: center;
    justify-content: center;
    padding: 0 5rem;
    color: #c69c72;
    margin-top: 15px;
    font-weight: 500;
}

.structureTiles {
    display: flex;
    padding: 1.5rem 0;
}

.tile {
    transition: 0.35s ease-in-out;
    background-color: rgba(0,0,0, 25%);
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1rem 1rem;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 #0e0e0e;
    border: 1px solid #d4d4d4;
    color: #d4d4d4;
}

.tile:hover {
    transition: 0.5s ease-in-out;
    background-color: rgba(0,0,0, 0.50);
    transform: scale(1.05);
    color: #c69c72;
}


.link {
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    min-height: 8rem;
}

.linkName{
    padding: 0.5rem 1rem;
    width: 35%;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    align-content: center;
}

.linkDescription{
    width: 65%;
    padding: 0.5rem 2rem;
    color: #d4d4d4;
    text-align: justify;
    align-content: center;
}

.bottom {
    min-height: 10rem;
}
