.dropdownContainer {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 10rem;
    text-align: left;
    font-family: TextGrey, serif;
}

.dropdownToggle {
    background: none;
    border: none;
    color: #c5a445;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 0;
    transition: color 0.2s;
}

.dropdownToggle:hover {
    color: #a88b32;
}

.header {
    font-family: TextGrey, serif;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    text-align: center;
    color: #c5a445;
    padding-top: 10rem;
}

.arrowIcon {
    display: inline-block;
    transition: transform 0.3s;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.arrowRight {
    transform: rotate(0deg);
}

.arrowDown {
    transform: rotate(90deg);
}

.dropdownLabel {
    user-select: none;
    padding-left: 1rem;
}

.dropdownContent {
    background: #181818;
    color: #fff;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 3rem 5rem;
    font-size: 1.65rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    animation: fadeIn 0.3s;
    line-height: 2rem;
}

.methodsList {
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.methodName {
    font-family: "Lucida Console", Courier, monospace;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px);}
    to   { opacity: 1; transform: translateY(0);}
}
