.description {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 10rem;
    text-align: left;
    font-family: 'IBM Plex Sans', serif;
}

.descriptionText {
    background: rgba(16, 16, 16, 0.5);
    color: #eaeaea;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 3.5rem 6rem;
    font-size: 1.65rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.9);
    animation: fadeIn 0.3s;
    line-height: 2.15rem;
    letter-spacing: 0.001rem;
}

.descriptionHeader {
    color: #c69c72;
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
}

.methodsList {
    line-height: 2.5rem;
    font-size: 1.55rem;
}

.methodName {
    font-family: "Lucida Console", Courier, monospace;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to   { opacity: 1; transform: translateY(0);}
}
