
.container {
    width: 90%;
    margin: 5rem auto;
    padding: 5rem 10rem;
    text-align: center;
    font-family: "IBM Plex Sans", serif;
    background-color: rgba(36, 36, 36, 0.07);
    border-radius: 1.5rem;
}

.controls {
    display: flex;
    gap: 1rem;
    margin: 2rem 0 2rem;
    justify-content: center;
    padding-bottom: 2rem
}

.extraMethods {
    padding: 2rem 0 5rem;
    margin-bottom: 3rem;
    border-radius: 8px;
}

.extraMethods > h3 {
    padding-bottom: 3rem;
    color: #c69c72;
    font-size: 2rem;
    font-weight: 600;
}

.methods {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.method {
    color: #d3d3d3;
    font-size: 1.4rem;
}

.methodName {
    font-weight: 550;
    letter-spacing: 0.025rem;
}

.inputField {
    margin-right: 2rem;
    padding: 1.5rem 3rem;
    font-size: 1.25rem;
    cursor: text;
    border: none;
    font-weight: 650;
    background-color: rgba(0, 0, 0, 0.20);
    color: #d4d4d4;
    border-bottom: 2px solid #c69c72;
    border-radius: 5px;
}

.inputField:hover {
    transition: 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.40);
}

.inputField:focus {
    font-weight: 550;
    transition: 0.5s ease-in-out;
    border-bottom: 0.05rem solid #d3d3d3;
    outline: none;
    background-color: rgba(0, 0, 0, 0.60);
}

.addNode, .clearButton {
    padding: 1rem 3.5rem;
    min-width: 12.5rem;
    background: transparent;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 650;
    transition: 0.5s ease-in-out;
}

.addNode:hover{
    transition: 0.5s ease-in-out;
    background: #c69c72;
    color: #000;
    border: 2px solid #ffffff;
}

.clearButton:hover {
    transition: 0.5s ease-in;
    background: #d7d7d7;
    color: #000;
    border: 2px solid #ffffff;
}

.addNode:disabled:hover {
    background: #ab1010;
    color: #fff;
}

.traversalControls {
    display: flex;
    gap: 1rem;
    margin: 10rem 0 2rem;
    justify-content: center;
}

.traversalControls > h4 {
    color: #d4d4d4;
    font-size: 1.25rem;
}

.traversalLog {
    margin-top: 3.5rem;
    background: #060606;
    padding: 3rem 2rem;
    border-radius: 8px;
    border: 1px solid #262626;
}

.traversalLog > h3 {
    font-size: 1.5rem;
    color: #d5b508;
}

.logNodes {
    padding: 2.5rem 2rem 0.5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.logNode {
    background-color: #262626;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    border: 1px solid #4a4a4a;
    font-size: 1.25rem;
}


