
.container {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 10rem;
    text-align: center;
    font-family: TextGrey, serif;
}

.controls {
    display: flex;
    gap: 1rem;
    margin: 2rem 0 10rem;
    justify-content: center;
    padding-bottom: 2rem
}

.inputField {
    margin-right: 2rem;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    cursor: text;
    border: none;
    background: none;
    color: #d4d4d4;
    border-bottom: 0.05rem solid #c5a445;
    border-radius: 0.75rem;
}

.inputField:hover {
    transition: 0.5s ease-in-out;
    background-color: #181818;
}

.inputField:focus {
    transition: 0.5s ease-in-out;
    outline: none;
    background: #181818;
}

.addNode, .clearButton {
    padding: 1.5rem 3rem;
    background: #d4d4d4;
    color: #000;
    border: 1px solid #c5a445;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

.addNode:hover{
    transition: 0.5s ease-in-out;
    background: #c5a445;
    color: #000;
    border: 1px solid #d4d4d4;
}

.clearButton:hover {
    transition: 0.5s ease-in;
    background: #000;
    color: #c5a445;
    border: 1px solid #d4d4d4;
}

.traversalControls {
    display: flex;
    gap: 1rem;
    margin: 10rem 0 2rem;
    justify-content: center;
}

.traversalControls > h4 {
    color: #d4d4d4;
    font-size: 1.25rem;
}

.traversalLog {
    margin-top: 3.5rem;
    background: #000000;
    padding: 3rem 2rem;
    border-radius: 8px;
    border: 1px solid #262626;
}

.traversalLog > h3 {
    font-size: 1.5rem;
    color: #d5b508;
}

.logNodes {
    padding: 2.5rem 2rem 0.5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.logNode {
    background-color: #262626;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    border: 1px solid #4a4a4a;
    font-size: 1.25rem;
}


