.header {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: #c69c72;
    padding-top: 5rem;
    letter-spacing: 0.05rem;
}

.definition {
    color: #d4d4d4;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 4rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.5rem;
    width: 80%;
    margin: 0 auto;
}

.tab {
    transition: 0.3s ease-in-out;
    padding: 1rem;
    width: 30%;
    background-color: transparent;
    border: 2px solid #d4d4d4;
    color: #f1fffa;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 0.5rem;
}

.tab:hover {
    transition: 0.3s ease-in-out;
    border-color: #c69c72;
    color: #c69c72;
}