.header{
    font-family: 'BargandSans, sans-serif', sans-serif;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #0a0a08;
    border-bottom: 1px solid #393938;
    align-items: center;
    padding: 0 25px;
    letter-spacing: 0.15rem;
    position: fixed;
    z-index: 99;
}

.headerImage{
    height: 50px;
    width: 50px;
}

.headerText{
    font-size: 2.5rem;
    color: #c5a445;
    padding-left: 25px;
}

.highlight {
    color: white;
}

.headLink {
    text-decoration: none;
}